<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
        <preference for="Magento\Framework\App\State" type="Eniture\FedExSmallPackageQuotes\App\State" />
        <preference for="Magento\Checkout\Block\Cart\LayoutProcessor" type="Eniture\FedExSmallPackageQuotes\Model\Checkout\Block\Cart\Shipping" />
        <preference for="Magento\Catalog\Controller\Adminhtml\Product\Edit" type="Eniture\FedExSmallPackageQuotes\Controller\Adminhtml\Product\Edit" />
</config>